<!DOCTYPE HTML>
<html>
    <head>
        <title>my web service</title>
        <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    </head>
    <body>
        Welcome to my web service.
    </body>
</html>